<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExcelDesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="Forms/ServiceCenter.aspx" loginUrl="Forms/LoginPage.aspx" slidingExpiration="true" timeout="50"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="1000"/>
    <sessionState timeout="25"/>
  </system.web>
  <applicationSettings>
    <ExcelDesign.Properties.Settings>
      <setting name="ExcelDesign_ServiceFunctions_Functions" serializeAs="String">
        <value>http://jeg-svr2.jeg.local:7058/DynamicsNAV/WS/JEG_SONS,%20Inc/Codeunit/Functions</value>
      </setting>
    </ExcelDesign.Properties.Settings>
  </applicationSettings>
  <appSettings>

    <add key="webServiceUsername" value="svc_navweb"/>
    <add key="webServicePassword" value="Wh@t@r3Th3"/>
    <add key="webServiceDomain" value="JEG"/>
    <add key="mode" value="Development"/>


    <!--
    <add key="webServiceUsername" value="svc_navweb"/>
    <add key="webServicePassword" value="Wh@t@r3Th3"/>
    <add key="webServiceDomain" value=""/>
    <add key="mode" value="Production"/>
-->

  
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ErrorLogs\Error_Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>
